hat-doit ~=0.16.2
hat-util ~=0.6.19
jsonpatch ~=1.33
jsonschema ~=4.23.0
jsonschema_rs ~=0.37.4
pyyaml ~=6.0.2
referencing ~=0.35.1
sphinxcontrib-programoutput >=0.17
tomli ~=2.0.1; python_version<'3.11'
tomli_w ~=1.2.0
